@import './colors.scss';
@import './fonts.scss';

.lost-popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  &.active {
    display: flex;
  }
}

.lost-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 350px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images//background2.jpg');
  border: 0.5px solid $white;
}

.lost-title {
  font-size: 50px;
  color: $white;
  padding-top: 25px;
  font-family: 'Montserrat-Regular', sans-serif;
  text-align: center;
}

.lost-content {
  font-size: 30px;
  color: $white;
  padding-top: 40px;
  padding: 40px 15px 0;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
}

.button-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
